@font-face {
  font-family: 'HarmonyOS Sans SC Regular';
  src: url('/harmonyos/cn/docs/assets/font/HarmonyOSHans-Regular.woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans SC Medium';
  src: url('/harmonyos/cn/docs/assets/font/HarmonyOSHans-Medium.woff2');
}

@font-face {
  font-family: 'HarmonyOS Sans Regular';
  src: url('../fonts/HarmonyOS_Sans_Regular.ttf');
}

@font-face {
  font-family: 'HarmonyOS Sans Medium';
  src: url('../fonts/HarmonyOS_Sans_Medium.ttf');
}

* {
  font-family: 'HarmonyOS Sans Regular', 'HarmonyOS Sans SC Regular';
}

h1, h2, h3, h4, h5, h6, .text-bold {
  font-family: 'HarmonyOS Sans Medium', 'HarmonyOS Sans SC Medium';
}